@import "vars";

/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	.welcome {
        .title {
            font-size: 64px;
        }
    }
    .header-contacts {
        font-size: 14px;
    }
    .s {
        &-king, &-partners, &-review {
            padding: 8%;
        }
    }

    .s-king {
        p {
            font-size: 16px;
        }
    }
    .s-call {
        background-size: cover;
    }
}

// ≥992px
@include media-breakpoint-down(md) {
    .welcome {
        .title {
            font-size: 47px;
        }
    }
    .carousel-services-item {
        flex-direction: column;
    }

    .s-call {
        &::before {
            width: 100%;
        }
        .callback {
            padding: 12% 0;
        }
    }
}

// ≥768px
@include media-breakpoint-down(sm) {
    .header-contacts {
        .phone-h {
            text-align-last: left;
        }
    }
    .button {
        padding: 12px 36px;
    }

    .fotorama__nav-wrap {
        display: none;
    }

    .quotes {
        display: none;
    }

    .partners {
        .owl-nav {
            > div {
                &.owl-prev {
                    left: 0;
                }
                &.owl-next {
                    right: 0;
                }
            }
        }
    }

    .s-partners {
        .h2 {
            margin: 0;
        }
    }
}

// ≥576px
@include media-breakpoint-down(xs) {
    .welcome {
        .title {
            font-size: 28px;
            margin-top: 5px;
        }
        p {
            span {
                font-size: 9px;
            }
        }
        strong {
            margin-top: 14px;
            font-size: 14px;
        }
    }

    .header-composition {
        p {
            font-size: 14px;
        }
    }
}

@media only screen and (max-width: 320px) {
    .welcome {
        p {
            span {
                font-size: 8px;
            }
        }
    }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}
